/* 
	CSS by Dan Høegh
	UCN MMD 2021 
*/

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 5vw;
	font-size: 1rem;
	line-height: 1.4;
	overflow-y: scroll;
}

main {
	display: block;
    width: 640px;
    margin: 0 auto;
}

#searchInput {
	padding: 10px;
	width: 340px;
	display: inline-block;
	margin: 0;
	border: none;
}

#searchButton {
	cursor: pointer;
	padding: 10px 20px;
	width: 220px;
	display: inline-block;
	margin: 0;
	background-color: #aaffaa;
	border: none;
}

#searchTool {
    background-color: #f8f8f8;
	padding: 20px;
	margin: 0 20px;
}

#searchSpinner {
	display: none;
	margin: 50px auto;
    width: 100%;
    text-align: center;
}

#searchSpinner img {
	width: 75px;
	height: auto;
}

#searchSpinner.active {
	display: block;
}

#resultCount {
	margin: 20px;
	font-style: italic;
}

#searchOutput h4 {
	margin: 0 0 5px 0;
}

#searchOutput p {
	margin: 5px 0 0 0;
}

.errorMsg {
	color: #ff0000;
}

#resultAmountSelectorTool {
	margin: 10px 0 0 0 ;
}

#resultAmountSelector {
	padding: 5px;
}

.article {
	padding: 10px 20px;
	display: block;
	text-decoration: none;
	color: #000;
	transition: all .2s ease-out;
}

.article:hover {
	background-color: #f8f8f8;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	transform: scale(1.1);
}

.article:active {
	background-color: #d8d8d8;
}